/* src/styles/ForgotPasswordModal.css */
/* src/styles/ForgotPasswordModal.css */

/* Base styles */
.modal-content {
  border-radius: 10px;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  padding: 1rem;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .modal-content {
    padding: 0.5rem;
  }

  .logo {
    width: 120px;
    margin-bottom: 15px;
  }

  .text-center {
    font-size: 1rem;
  }

  .btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .modal-content {
    padding: 0.75rem;
  }

  .logo {
    width: 130px;
    margin-bottom: 18px;
  }

  .text-center {
    font-size: 1.1rem;
  }

  .btn {
    font-size: 1rem;
  }
}
